ENV=development
KUBERNETES_NAMESPACE=<your-workspace-name>
SHARED_SERVICES_ACCOUNT_ID=<shared-services-account-id>
AWS_VAULT_PROFILE=<your-shared-services-aws-vault-profile>

SHARED_SERVICES_ECR_BASE_URL=<shared-services-ecr-base-url>

DEVL_SUBSCRIPTION_ID=<from-parameter-store>
DEVL_CLIENT_ID=<from-parameter-store>
DEVL_CLIENT_SECRET=<from-parameter-store>
DEVL_TENANT_ID=<from-parameter-store>

PREPROD_SUBSCRIPTION_ID=<from-parameter-store>
PREPROD_CLIENT_ID=<from-parameter-store>
PREPROD_CLIENT_SECRET=<from-parameter-store>
PREPROD_TENANT_ID=<from-parameter-store>
